{
  "extends": "airbnb/base",
  "rules": {
    "max-len": [2, 120, 2],
    "valid-jsdoc": 2,
    "new-cap": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "id-length": 0,
    "no-var": 0,
    "func-names": 0,
    "vars-on-top": 0,
    "no-alert": 0
  }
}
