<?php

$enableDebugPanel = false;
$allowedIPs = ['127.0.0.1'];
$isAllow = YII_ENV_MODE === 'web' && in_array($_SERVER['REMOTE_ADDR'], $allowedIPs);

/**
 * Db
 */

$config['components']['db'] = [
    'class'                 => 'yii\db\Connection',
    'dsn'                   => 'mysql:host=%MYSQL_HOST%;dbname=%MYSQL_DATABASE%',
    'username'              => '%MYSQL_USER%',
    'password'              => '%MYSQL_PASSWORD%',
    'emulatePrepare'        => true,
    'charset'               => 'utf8',
    'enableSchemaCache'     => YII_ENV_DEV ? false : true
];

/**
 * Mailer
 */

$config['components']['mailer']['useFileTransport'] = true;

/**
 * Auth Providers
 */

$config['components']['authClientCollection'] = [
    'class' => 'yii\authclient\Collection',
    'clients' => [
        'vkontakte' => [
            'class' => 'yii\authclient\clients\VKontakte',
            'clientId' => '',
            'clientSecret' => '',
            'scope' => 'email',
        ],
        'twitter' => [
            'class' => 'yii\authclient\clients\Twitter',
            'consumerKey' => '',
            'consumerSecret' => '',
        ],
        'facebook' => [
            'class' => 'yii\authclient\clients\Facebook',
            'clientId' => '',
            'clientSecret' => '',
            'scope' => 'email,public_profile',
            'attributeNames' => ['name', 'email', 'picture', 'link', 'verified'],
        ],
    ],
];

/**
 * Gii & Debug Panel
 */

if (YII_ENV_DEV) {
    $config['bootstrap'][] = 'gii';
    $config['modules']['gii'] = [
        'class' => 'yii\gii\Module',
        'allowedIPs' => $allowedIPs
    ];
}

if ($enableDebugPanel && $isAllow) {
    $config['bootstrap'][] = 'debug';
    $config['modules']['debug'] = [
        'class' => 'yii\debug\Module',
        'allowedIPs' => $allowedIPs,
        'panels' => [
            'httpclient' => [
                'class' => 'yii\\httpclient\\debug\\HttpClientPanel',
            ],
        ],
    ];
}

return $config;
