AddDefaultCharset utf-8
Options +FollowSymLinks
IndexIgnore */*

ServerSignature Off
php_flag expose_php Off

<IfModule mod_rewrite.c>
    RewriteEngine on

    RedirectMatch 403 /\..*$

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . index.php
</IfModule>
